In [1]:
#Dataset 1

In [2]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [3]:
df1 = pd.read_csv('./Datasets/cervical_cancer/risk_factors_cervical_cancer.csv', na_values='?')

In [4]:
df1 = df1.drop(['STDs: Time since first diagnosis', 'STDs: Time since last diagnosis'], axis=1)

In [5]:
X = df1.iloc[:,:33]
y = df1.iloc[:, 33]

In [6]:
imputer = SimpleImputer(strategy='median')
imputer.fit(X)
X_new = imputer.transform(X)
# y = np.array(y)

In [7]:
# y = y.reshape(-1, 1)

In [8]:
df_new = pd.DataFrame(X_new, columns = X.columns, index=X.index)
df_new['Biopsy'] = y

In [9]:
df_new.to_csv('./Datasets/cervical_cancer/preprocessed_data.csv')

In [10]:
df_new.iloc[:, [1,5]]

     Number of sexual partners  Smokes (years)
0                          4.0             0.0
1                          1.0             0.0
2                          1.0             0.0
3                          5.0            37.0
4                          3.0             0.0
..                         ...             ...
853                        3.0             0.0
854                        2.0             0.0
855                        2.0             0.0
856                        2.0             0.0
857                        2.0             0.0

[858 rows x 2 columns]

In [11]:
# res_ar = np.hstack((X, y))

In [12]:
# print(res_ar.shape)

In [13]:
# np.save('./Datasets/cervical_cancer/preprocessed_data.npy', res_ar)

In [14]:
df2 = pd.read_csv('./Datasets/fetal_health/data_1.csv')
df3 = pd.read_csv('./Datasets/fetal_health/data_2.csv')

In [15]:

data = pd.concat([df2, df3])
data['fetal_health'] = data['fetal_health']-1
data = data.sample(frac = 1).reset_index()
data.drop('index', axis=1, inplace=True)

In [16]:
data

,baseline value,accelerations,fetal_movement,uterine_contractions,light_decelerations,severe_decelerations,prolongued_decelerations,abnormal_short_term_variability,mean_value_of_short_term_variability,percentage_of_time_with_abnormal_long_term_variability,...,histogram_min,histogram_max,histogram_number_of_peaks,histogram_number_of_zeroes,histogram_mode,histogram_mean,histogram_median,histogram_variance,histogram_tendency,fetal_health
0,133,0.007,0.000,0.006,0.006,0.0,0.000,17,2.4,0,...,82,180,4,0,126,137,138,61,0,0
1,139,0.006,0.002,0.010,0.006,0.0,0.000,54,1.6,0,...,76,172,4,1,161,139,145,78,1,0
2,140,0.003,0.000,0.008,0.003,0.0,0.000,35,5.0,0,...,50,176,10,1,148,143,148,43,1,0
3,144,0.000,0.000,0.004,0.002,0.0,0.000,33,1.2,2,...,99,160,2,0,153,147,152,19,1,0
4,118,0.000,0.000,0.007,0.000,0.0,0.000,26,1.2,0,...,100,144,3,0,120,119,120,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2121,122,0.003,0.000,0.002,0.001,0.0,0.000,19,2.0,0,...,102,148,3,0,125,124,126,6,0,0
2122,133,0.001,0.000,0.010,0.004,0.0,0.002,61,2.7,0,...,52,184,5,0,125,96,110,103,0,2
2123,148,0.000,0.000,0.000,0.000,0.0,0.000,67,0.4,67,...,139,154,4,0,150,149,151,0,1,1
2124,120,0.000,0.000,0.004,0.012,0.0,0.000,59,1.6,0,...,69,152,4,1,105,106,107,31,0,2
2125,142,0.000,0.006,0.000,0.000,0.0,0.000,69,0.3,39,...,137,151,1,0,142,142,143,0,0,1

In [17]:
# dfx = np.vstack((df2, df3))
data.to_csv('./Datasets/fetal_health/preprocessed_data.csv')

In [18]:
# np.save('./Datasets/fetal_health/preprocessed_data.npy', dfx)

In [19]:
df4 = pd.read_csv('./Datasets/banking_dataset/file.csv')

df4

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,blue-collar,married,basic.4y,unknown,yes,no,cellular,aug,thu,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
1,53,technician,married,unknown,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,management,single,university.degree,no,yes,no,cellular,jun,thu,...,3,6,2,success,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,services,married,high.school,no,no,no,cellular,apr,fri,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,retired,married,basic.4y,no,yes,no,cellular,aug,fri,...,1,3,1,success,-2.9,92.201,-31.4,0.869,5076.2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,59,retired,married,high.school,unknown,no,yes,telephone,jun,thu,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.866,5228.1,0
41184,31,housemaid,married,basic.4y,unknown,no,no,telephone,may,thu,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,0
41185,42,admin.,single,university.degree,unknown,yes,yes,telephone,may,wed,...,3,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
41186,48,technician,married,professional.course,no,no,yes,telephone,oct,tue,...,2,999,0,nonexistent,-3.4,92.431,-26.9,0.742,5017.5,0
41187,25,student,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,0

In [20]:
df4.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp_var_rate', 'cons_price_idx',
       'cons_conf_idx', 'euribor3m', 'nr_employed', 'y'],
      dtype='object')

In [21]:
categorical_features = []
for label in df4.columns:
#     print(label, " ", df4[label].dtype)
    if(df4[label].dtype==object) :
        categorical_features.append(label)
        
print(categorical_features)

['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'poutcome']

In [22]:
le = LabelEncoder()

for feature in categorical_features : 
    df4[feature] = le.fit_transform(df4[feature])

In [23]:
df4

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,1,1,0,1,2,0,0,1,2,...,1,999,0,1,1.4,93.444,-36.1,4.963,5228.1,0
1,53,9,1,7,0,0,0,0,7,0,...,1,999,0,1,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,4,2,6,0,2,0,0,4,2,...,3,6,2,2,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,7,1,3,0,0,0,0,0,0,...,2,999,0,1,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,5,1,0,0,2,0,0,1,0,...,1,3,1,2,-2.9,92.201,-31.4,0.869,5076.2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,59,5,1,3,1,0,2,1,4,2,...,1,999,0,1,1.4,94.465,-41.8,4.866,5228.1,0
41184,31,3,1,0,1,0,0,1,6,2,...,2,999,0,1,1.1,93.994,-36.4,4.860,5191.0,0
41185,42,0,2,6,1,2,2,1,6,4,...,3,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
41186,48,9,1,5,0,0,2,1,8,3,...,2,999,0,1,-3.4,92.431,-26.9,0.742,5017.5,0
41187,25,8,2,3,0,0,0,1,6,0,...,4,999,0,1,1.1,93.994,-36.4,4.859,5191.0,0

In [24]:
# df4 =np.array(df4)
# np.save('./Datasets/banking_dataset/preprocessed_data.csv', df4)

In [25]:
df4.to_csv('./Datasets/banking_dataset/preprocessed_data.csv')